/*General*/
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
html{
	height:100%;
}


.container{
	margin:0 auto;
	max-width:1360px;
	background-color:#FFFFFF;
	padding:20px;
	height:100%;
}

.clearfix:before,
.clearfix:after{
	content:" ";
	display:table;
}

.clearfix:after{
	clear:both;
}
.left{
	float:left;
}

.right{
    float:right;
}


.edit_form, .edit_images {
	border: 1px solid #234bcc;
    max-width:800px;
    margin:20px auto;
    padding:15px;
}



/* ul-treefree */
ul.ul-treefree { padding-left:25px; }
ul.ul-treefree ul { margin:0; padding-left:6px; }
ul.ul-treefree li { position:relative; list-style:none outside none; border-left:solid 1px #999; margin:0; padding:0 0 0 19px; line-height:23px; }
ul.ul-treefree li:before { content:''; display:block; border-bottom:solid 1px #999; position:absolute; width:18px; height:11px; left:0; top:0; }
ul.ul-treefree li:last-child { border-left:0 none; }
ul.ul-treefree li:last-child:before { border-left:solid 1px #999; }

.ul-treefree span {
    cursor:pointer;

}

.ul-treefree span {
    border:1px solid #000000;
    border-radius:3px;
   padding:0 1px 1px 1px;
    margin-top:20px;
}

.current_category{
    background-color: #d2171f;
    color:#27cc50;
}


.styled-select select {
	background: transparent;
	width: 278px;
	padding: 5px;
	font-size: 16px;
	border: 1px solid #ccc;
	height: 34px;
}

.styled-select {
	width: 240px;
	height: 34px;
	overflow: hidden;
	background: url('/img/back_arrow.png') no-repeat right #ddd;
}

.edit_form textarea{
    resize:none;
    wrap:off;
}
.edit_form h4{
    color:red;
}
h2{text-align:center;}

#sub_edited{
    font-size:120%;
    color:red;
    width:150px;
    height:40px;
   margin-left:300px;

}


.error{
	border:1px solid #d2171f;
}

.red{
    color:#d2171f;
}

.invisible{
    display:none;
}

.image_form{
    padding:5px;

}

.thumb{
	width:130px;
	height:130px;
    border:1px solid #999999;
    border-radius:2px;

}
.FileInput{
    position:absolute;
    top:140px;
    left:5px;
}

.image_area{
	margin-bottom:30px!important;
}

.image_area h4{
    text-align:center;
}

.image_form{
    position:relative;
}

.reset_btn{
    position:absolute;
    top:0;
    right:0;
}

.note {
    width:40px;
    height:40px;
    cursor:pointer;

}

.success_tick{
    position:absolute;
    left:150px;
    top:60px;
	width:40px;
	height:40px;

}

.progress{
    position:absolute;
    top:90px;
    left:140px;
    border:1px solid #d2171f;
    width:600px;
}

.submit_btn{
    width:80px;
    height:80px;
    position:absolute;
    top:50px;
    left:150px;
    cursor:pointer;
}

.output {
    position:absolute;
    top:80px;
    left:200px;
    cursor: default;
}



@media (max-width:970px){

    .progress{
        position:static;
    }

}

@media (max-width: 750px){
    .progress{
        width:380px;
    }

    .image_form{
        padding:0;
    }

    .edit_images{
        padding:0;
    }
    #sub_edited{
        margin-left:150px;
    }
}