/*General*/
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
html, body{
	height:100%;
}


.container{
	margin:0 auto;
	max-width:1360px;
	background-color:#FFFFFF;
	padding:20px;
	height:100%;
}

.clearfix:before,
.clearfix:after{
	content:" ";
	display:table;
}

.clearfix:after{
	clear:both;
}
.left{
	float:left;
}

.right{
    float:right;
}

.breadcrumbs{
margin-top:15px;
}

.product_form, .edit_images {
	border: 1px solid #234bcc;
    max-width:800px;
    margin:20px auto;
    padding:15px;
}



/* ul-treefree */
ul.ul-treefree { padding-left:25px; }
ul.ul-treefree ul { margin:0; padding-left:6px; }
ul.ul-treefree li { position:relative; list-style:none outside none; border-left:solid 1px #999; margin:0; padding:0 0 0 19px; line-height:23px; }
ul.ul-treefree li:before { content:''; display:block; border-bottom:solid 1px #999; position:absolute; width:18px; height:11px; left:0; top:0; }
ul.ul-treefree li:last-child { border-left:0 none; }
ul.ul-treefree li:last-child:before { border-left:solid 1px #999; }

.ul-treefree span {
    cursor:pointer;

}

.ul-treefree span {
    border:1px solid #000000;
    border-radius:3px;
   padding:0 1px 1px 1px;
    margin-top:20px;
}

.current_category{
    background-color: #d2171f;
    color:#27cc50;
}


.styled-select select {
	background: transparent;
	width: 278px;
	padding: 5px;
	font-size: 16px;
	border: 1px solid #ccc;
	height: 34px;
}

.styled-select {
	width: 240px;
	height: 34px;
	overflow: hidden;
	background: url('/img/back_arrow.png') no-repeat right #ddd;
}

.edit_form textarea{
    resize:none;
    wrap:off;
}
.edit_form h4{
    color:red;
}
h2{text-align:center;}

#sub_edited, #sub_created{
    font-size:120%;
    color:red;
    width:150px;
    height:40px;
   margin-left:300px;

}


.error{
	border:1px solid #d2171f;
}

.red{
    color:#d2171f;
}

.invisible{
    display:none;
}

.visible{
    display:block!important;
}

.image_form{
    padding:5px;

}

.thumb{
	width:130px;
	height:130px;
    border:1px solid #999999;
    border-radius:2px;

}
.FileInput{
    position:absolute;
    top:140px;
    left:5px;
}

.image_area{
	margin-bottom:30px!important;
}

.image_area h4{
    text-align:center;
}

.image_form{
    position:relative;
}

.reset_btn{
    position:absolute;
    top:0;
    right:0;
}

.note {
    width:40px;
    height:40px;
    cursor:pointer;

}

.success_tick{
    position:absolute;
    left:150px;
    top:60px;
	width:40px;
	height:40px;

}

.progress{
    position:absolute;
    top:90px;
    left:140px;
    border:1px solid #d2171f;
    width:600px;
}

.submit_btn{
    width:80px;
    height:80px;
    position:absolute;
    top:50px;
    left:150px;
    cursor:pointer;
}

.output {
    position:absolute;
    top:80px;
    left:200px;
    cursor: default;
}

.uploaded{
    cursor:pointer;
}

.darkLayer{
    position:fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    opacity: 0.5;
    background-color: #383838;
    z-index:100;
}

.big_image {
    position:fixed;
   width:90%;
   /* height:100%;*/
    margin:0 auto;
    top:50px;
    right: 20px;
    left:20px;

    z-index: 101;
    border:2px solid #d2171f;
    border-radius: 20px;
    overflow:hidden;
}
.big_image img{
    width:100%;
    height:100%

}

.close_img{
    position:absolute;
    right:10px;
    top:10px;
    width:60px!important;
    height:60px!important;
    cursor:pointer;
}

.menu_button, .button{
    border: 1px solid #333; /* Рамка */
    display: inline-block;
    padding: 5px 15px; /* Поля */
    text-decoration: none; /* Убираем подчёркивание */
    color: #000; /* Цвет текста */
    border-radius:3px;
    margin-left:5px;
    margin-top:4px;

}

.menu_button:hover, .button:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
    color: #a00;
    cursor:pointer
}

#admin_exit_btn{
    background-color: rgba(197, 49, 39, 0.83);
}

.content{
    margin-top:50px;

}
.product_content{
    margin-top:50px;
    border:1px solid #010715;
    border-radius: 10px;
    padding:20px;
}


.leftmenu{
    width:20%;
    padding:10px 10px 10px 20px;
    height:100%;
}
.leftmenu li{
    list-style: circle;
}

.main-content{
    width:78%;

}

.articles_good{
    margin:30px 0 30px 0;
}

.articles_good tr{
    height:35px;
    text-align:center;
}



.articles_good tr:first-child{
    background-color: #c55b5c!important;
    cursor:default!important;
}

.articles_good tr:nth-child(odd){
    background-color: #5bcc82;
}

.articles_good tr:nth-child(even){
    background-color: #7eafcc;
}

.articles_good tr:hover{
    cursor:pointer;
    background-color: #999999;
}

#popup_menu{
    position: absolute;
   /* width:140px;*/
    min-width:100px;
    height:70px;
    background-color: #9f2023;
    padding:5px;
    padding-right:0;
    border-radius:5px;

}

.content-header{
    max-width:800px;
    margin:20px auto;
}
.content-header-width{
    max-width:1200px;
    margin:20px auto;
}

#delete_item, #delete_category{
    cursor:pointer;
    text-decoration:underline;
    color: #0000ee;
}

#message_box{
    position:fixed;
    border: 1px solid rgba(255, 0, 0, 0.64);
    top:200px;
    left:10%;
    right:10%;
    max-width:1200px;
    border-radius:10px;
    height:150px;
    background-color: #965746;
    /*центрирование текста погоризонтали и вертикали*/
    text-align: center;
    line-height: 150px;

}

#message_close, #operation_area_close{

    float:right;
    width:30px;
    height:30px;
    margin-top:10px;
    margin-right:10px;
    cursor:pointer;

}

#operation_area{
    position:absolute;
    max-width:1600px;
    left:5%;
    right:5%;

    border:2px solid red;
    z-index:101;
    background-color: #0acc6b;
}


.images_preview_area{
    margin-top:30px;
    border-bottom:1px solid #0000ee;
}

.preview_image{
    max-width:300px;
    max-height:300px;
    float:left;
    margin:20px;
    border:2px solid red;
    border-radius: 20px;
    cursor:pointer;
}


.admin_categories span{
    display:block;
    border:1px solid #000000;
    width:200px;
    height:30px;
    padding:5px;
    border-radius:3px;
    margin-top:10px;
    cursor:pointer;
}

.admin_categories span:hover{
    background-color: aquamarine;
}

.admin_categories li {
    list-style-type: none;
}

.r_{
    background-color: #965746;
}

.r__{
    margin-left:25px;
    background-color: #cc151e;
}

.r___{
    margin-left:50px;
    background-color: #527cee;
}
























@media (max-width:970px){

    .progress{
        position:static;
    }

}

@media (max-width: 750px){
    .progress{
        width:380px;
    }

    .image_form{
        padding:0;
    }

    .edit_images{
        padding:0;
    }
    #sub_edited, #sub_created{
        margin-left:150px;
    }
    .product_content{
        padding-left:5px;
    }
    .preview_image{
        margin-left:0;
    }
}